<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basketball!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">MARS INFO</h1>

  <div>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

  <div>

          <p class="font-weight-bold"> LATEST NEWS: </p>
          <p> {{ mars.latest_news_title }}</p>
          <p>{{ mars.latest_teaser }}</p>
          <p class="font-weight-bold"> LATEST WEATHER: </p>
          <p> {{ mars.weather_tweet }} </p>


    </div>
      <div>
          {{ mars.Facts_table|safe }}
      </div>

      <div>
          <img src={{mars.latest_image}} alt="Italian Trulli">
      </div>
  </div>
</body>

</html>
